<div class="ibox-content">
  <input type="text" placeholder="Name of Form" class="form-control">
</div>
<div class="ibox-content">
  <input type="text" placeholder="<h1>How to capture you leads using your own forms</h1>" class="form-control">
</div>
<div class="ibox-content">
  <p>1) Place the code below on your website before the closing </body> tag - OR - after the closing </form> tag for the from to track leads.</p>
  <br>
  <div class="row">
    <div class="ibox ">
      <div class="ibox-content">
        <textarea id="code1">
            <script>
           
              public function scripts() {
                $scripts = array(
                  array(
                    'handle'  => 'gf_web_api_demo_1',
                    'src'     => $this->get_base_url() . '/js/gf-web-api-demo-1.js',
                    'deps'    => array( 'jquery' ),
                    'version' => $this->_version,
                    'enqueue' => array(
                      array( 'query' => 'page=gravityformswebapidemo1' ),
                    ),
                    'strings' => array(
                      'root_url'    => site_url() . '/gravityformsapi/',
                      'nonce'       => wp_create_nonce( 'gf_api' ),
                    )
                  ),
                );

                return array_merge( parent::scripts(), $scripts );
              }

             $('#submit_button').click(function () {
                  var url = apiVars['root_url'] + 'forms/' + apiVars['form_id'] +  '/submissions';
                  submitForm( url );
              });

              function submitForm(url){

                var inputValues = {
                    input_1: $('#input_1').val(),
                    input_2: $('#input_2').val(),
                    input_3: $('.input_3:checked').val(),
                    input_4: $('#input_4').val()
                };

                var data = {
                    input_values: inputValues
                };

                $.ajax({
                    url: url,
                    type: 'POST',
                    data: JSON.stringify(data),
                    beforeSend: function (xhr, opts) {
                        $sending.show();
                    }
                })
                .done(function (data, textStatus, xhr) {
                    $sending.hide();
                    var response = JSON.stringify(data.response, null, '\t');
                    $results.val(response);
                })
              }
            </script>
        </textarea>
      </div>
    </div>
  </div>
  <br>
  <p>2) Fill out the form so that our code can catch on initial form fill out.</p>
  <br>
  <p>3) Refresh the page by clicking the button below, and assign the form fields to the lead fileds in DLM.</p>
  <br>
  <button type="button" class="btn btn-primary"><%=  link_to "Refresh the Page",  leads_info_path %></button>
</div>

